.launch{
  width: 100%;
  background-repeat: no-repeat;
  background-color: #181B48;
}

.launch .sectionOne__text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #F1EBFF;
  margin: 10px auto;
}

.launch .sectionTwo__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  color: #F1EBFF;
  margin-top: 100px;
  margin-bottom: 20px;
}

.launch .sectionTwo__info{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 5px auto;
}

.launch .sectionTwo__text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #C0C0C0;
  max-width: 865px;
  margin: 30px auto 0;
}

.launch .sectionTwo__description{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 865px;
  margin: 0 auto;
}

.launch .description__item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 30px;
  background: linear-gradient(94.97deg, #8E2DE2 3.92%, #4A00E0 52.92%);
  border-radius: 50px;
  margin: 10px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #F1EBFF;
  text-transform: uppercase;
}

.launch .bigButton {
  margin: 30px auto 0px;
}

.launch .sectionTwo__map{
  max-width: 1180px;
  height: 492px;
  margin-bottom: 100px;
  margin-top: 100px;
}
