.item{
  display: flex;
  flex-direction: column;
  min-width: 580px;

  .img{
    height: 264px;
    min-width: 580px;
  }
  
  .date{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    background: linear-gradient(94.97deg, #8E2DE2 3.92%, #4A00E0 52.92%);
    border-radius: 50px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #F1EBFF;
    margin: -20px auto 15px;
  }
  
  .title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #F1EBFF;
    margin: 0 auto;
  }
}

@media (max-width: 580px) {
  .item{
    min-width: 100vw;
    max-width: 100vw;

    .title{
      padding: 0 15px;
    }

    .img{
      min-width: 100vw;
      max-width: 100vw;
      height: auto;
    }
  }
}