.Rocket{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #181B48;
}

.Rocket .Header__text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: #F1EBFF;
}

.Rocket .Header__text img{
  margin-right: 10px;
}

.Rocket__name{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 76px;
  line-height: 92px;
  text-align: center;
  color: #F1EBFF;
  margin-bottom: 10px;
}

.Rocket__orbit{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #F1EBFF;
  margin-bottom: 20px;
}

.Rocket__date{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #F1EBFF;
  margin-bottom: 42px;
}

.Rocket__description{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 306px;
}

.Rocket__char{
  display: flex;
  justify-content: center;
  margin: 100px auto 50px;
}

.Char__item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 30px;
  background: linear-gradient(94.97deg, #8E2DE2 3.92%, #4A00E0 52.92%);
  border-radius: 50px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #F1EBFF;
  margin: 0 15px;
}

.Rocket__table{
  display: flex;
  /* justify-content: space-around; */
}

.Rocket__table img{
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.Rocket__family, .Rocket__spec, .Rocket__payload{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;
}


.Family__main, .Spec__main, .Payload__main{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #F1EBFF;
}

.Family__title, .Spec__title, .Payload__title{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 10px auto;
}

.Family__var, .Spec__var, .Payload__var{
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}