.Item{
  display: flex;
  flex-direction: column;
  min-width: 580px;
}

.Item__img{
  height: 264px;
  min-width: 580px
}

.Item__date{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 30px;
  background: #4A00E0;
  border-radius: 50px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #F1EBFF;
  margin: -20px auto 15px;
}

.Item__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #F1EBFF;
  margin: 0 auto;
}
