footer{
  max-width: 1180px;
  margin: 80px auto 0;
  padding-bottom: 80px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  text-align: right;
  color: #C0C0C0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img{
  width: 50px;
  height: 55px;
}

@media (max-width: 1180px) {
  footer{
    max-width: calc(100vw - 30px);
    padding: 0 15px;
  }
}

