.SectionTwo{
  max-width: 1440px;
  margin: 230px auto 0;
  background: #1C2056;
}

.SectionTwo__container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: 0 auto;
}